<!DOCTYPE html>
<html class="welcome-bg">

<head>
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="welcome">

    <img src="/static/images/Logo.png" width="200" height="200" style='top: -35px; position:inherit; display:inline'>

    <!-- <h1> sign in to continue saving your favorite artists</h1> -->

    <!-- <form method="POST" action="/">
        <input type="text" placeholder="enter your username" name="username" required>
     <br><br>
        <input type="password" placeholder="Enter your password" name="password"> -->
    <!-- <br><br><br>
        <input class='button' type="submit" value="submit">
    </form> -->


    <!-- <h2><a href="/signup">don't have an account?</a></h2>
    {%with messages = get_flashed_messages()%}
    {%if messages%}
    <ul id="flashes" class=flashes>
        {% for message in messages %}
        <h2> {{message }}</h2>
        {%endfor%}
    </ul>
    {%endif%}
    {%endwith%} -->
    <title> Welcome </title>
    <a href='/register'>
        <button style='position:fixed;bottom: 15px; right: 43.8%; ' href="/register" class="button">
            get started</button></a>
</body>

</html>