<!DOCTYPE html>
<html class="login-bg">

<head>
    <link rel="stylesheet" href="static/style.css">
</head>

<title> Login</title>

<body class="login">
    <img src="/static/images/logo.png" width="200" height="200"
        style='top: -35px; position:inherit; display:inline; border-radius:10px;'>

    <h1> sign in to continue discovering recipes</h1>
    <br>
    <form autocomplete="off" method="POST" action="/login">
        <input type="text" placeholder="enter your username" name="username" required>
        <br><br>
        <input type="password" placeholder="enter your password" name="password">
        <br><br><br>
        <input class='button' type="submit" value="submit">
    </form>

    <br>
    <h2><a href="/register">don't have an account?</a></h2>
    {%with messages = get_flashed_messages()%}
    {%if messages%}
    <ul id="flashes" class=flashes>
        {% for message in messages %}
        <h2> {{message }}</h2>
        {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}
</body>

</html>